@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.hero {
    background-color: red !important;
    display: flex;
    align-items: center;
    justify-content: center;
}