@font-face {
  font-family: 'Hey August';
  font-style: normal;
  font-weight: 400;
  src: 
    local('Hey August'),
    url('./Hey August.otf') format('opentype'),
    url('./Hey August.ttf') format('truetype');
}
