@import "_variables";

.logo {
  width: 100%;
  object-fit: cover;
  object-position: center 20%;
  max-height: 20vh;
}

.hackawayHeroSection {
  color: white;
  display: flex;
  align-items: center;

  background-image: linear-gradient(180deg, #e5884e66, $compsoc-5),
    url("./background.jpg");
  background-size: cover, cover;
  background-position: center, center;

  .container {
    overflow-x: hidden;

    img {
        width: 60%;
    }

    .subtitle {
      font-size: 2em;
      font-weight: 900;
      color: white;

      @media screen and (max-width: 800px) {
        font-size: 1.5em;
      }
    }
  }
}