.upcomingEventsClass {
  margin: 0 0;
  overflow-x: auto;
  flex-wrap: nowrap;
  height: 350px;
  font-family: BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}
