/** 
 * Variables
 */

//

$red: #c32126;
$discord: #7289da;
$dark-gray: rgb(12, 12, 12);

$compsoc-1: #540804;
$compsoc-2: #81171B;
$compsoc-3: #C41911;
$compsoc-4: #D15449;
$compsoc-5: #E5884E;

// Colours
$color-text-heading: $red;
$color-text-main: #000;
$color-bg-main: #fff;
$color-bg-alt: #efeae3;

// Legacy
$color-base: $red;
$color-primary: $color-text-main;
$color-secondary: $color-text-main;

$color-white: #fff;
$color-gray: lighten($color-base, 40%);
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-base, 79%);

// Font
$font-family: Montserrat, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// Font Size
$root-font-size: 100;
$base-font-size: 16px;
$small-font-size: 14px;

$heading-font-size: 24px;
$detail-font-size: 48px;

// Line Height
$base-line-height: 1.625;

// Leading
$leading: round(16 * ($root-font-size / 100) * $base-line-height);

// Font Colours
$base-font-color: $color-base;
$link-primary-font-color: $color-primary;
$link-secondaey-font-color: $color-secondary;

// Buttons
$button-height: 40px;
$button-border-radius: 15px;

// Breakpoints
$layout-width: 1070px;
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;
