// Generics/Global Styles


html {
    font-size: $root-font-size;
    overflow-x: hidden;
}


// Nav-Override
.navbar{
    color: black;
    font-weight: bold;


    &.navbar-light{
        color: red;
    }

    &.bg-compsoc{
        background-color: white;
        box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.22);
        -webkit-box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.22);
        -moz-box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.22);
    }

    .navbar-nav{    
        .nav-link{
            color: black;
        
            &:hover{
                color:$color-text-heading;
            }

        }
        
    }
}

// Section Rules
section{
    padding: 3rem;
    background-color: $color-bg-main;
    min-height: 20vh;
    font-family: $font-family;

    &.full {
        min-height: 66vh;
    }

    &.half {
        min-height: 33vh;
    }

    &.dark {
        background-color: $color-bg-alt;
    }


    h2{
        font-size: $heading-font-size;
        color: $color-text-heading;
        text-transform: uppercase;
        font-weight: bold;
    }

    h3{
        font-size: $detail-font-size;
        color: $color-text-main;
        font-weight: bold;
        margin-right: 40%;

    }
}


// What we do

.features {    
    .features {
        padding: 50px 0;
    }
    
    .item {
        text-align: center;

        .box {
            min-height: 25vh;
            text-align: center;
            justify-self: center;
            padding: 30px;
            background-color: $color-bg-alt;
            margin-bottom: 30px;
        }
        
        .icon {
            font-size: 60px;
            color: $red;
            margin-top: 20px;
            margin-bottom: 35px;
        }
        
        .name {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 8px;
            margin-top: 0;
            color: inherit;
        }
        
        .description {
            font-size: 15px;
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }
}

// Footer
footer {
    display: flex;
    justify-content: center;
    background-color: $color-bg-alt;
    color: white;
    padding: 1rem;

    p.footer-text {
        text-align: center;
        margin: 0;
    }
}


// Buttons
.btn.btn-solid-red{
    background: $color-text-heading;
    color: #fff;
    text-transform: lowercase;
    font-weight: bold;
    border-radius: 0px;
}

.btn.btn-outline-white{
    background: #fff;
    color: #fff;
    text-transform: lowercase;
    font-weight: bold;
    border-radius: 0px;
    border: 5px solid #fff;
}