@import "_variables";

.freshers2020page {
  h1,
  h3,
  h4 {
    color: white;
  }

  h2 {
    color: $compsoc-2;
    margin-top: 2em;
  }

  section h3 {
    margin: unset;
  }

  // div[class="container"] {
  //   padding-right: unset;
  //   padding-left: unset;
  // }
}

.freshers2021tableContainer {
  width: 100%;
  padding: 1em;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: $compsoc-4;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 992px) {
    width: unset;
    justify-content: left;
  }

  @media screen and (max-width: 600px) {
    font-size: 0.6em;
  }
}

.freshers2021table {
  width: 100%;
  max-width: 800px;
  font-weight: 900;
  color: white;
  background-color: $compsoc-4;

  td {
    font-size: 1.5em;
    min-height: 1.75em;
    height: 1.5rem;
    padding: 0.5em 0.25em;
    text-align: left;
    vertical-align: top;
    line-height: 1em;
  }

  td:nth-child(1) {
    width: 30%;
  }

  td:nth-child(2) {
    width: 30%;
  }

  td:nth-child(3) {
    width: 40%;
    vertical-align: middle;
  }

  .noBottom {
    border-bottom: none;
  }

  .freshers2020freshershacklogolink {
    display: block;

    .freshers2020freshershacklogo {
      max-height: 10rem;
      max-width: 100%;
      margin: -2em;
    }
  }

  .freshers2020capturetheflag {
    max-height: 5rem;
    max-width: 100%;
  }
}
