@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #eee;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
  }
}
