.header {
  position: relative;
  width: 100%;
  background-color: #c32126;
  color: #fff;
  border-radius: 0px 0px 75px 75px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
  transition: height 0.3s, box-shadow 0.3s;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: start;
  align-items: center;
  padding: 1rem;
}

.header img {
  width: 800px;
  position: absolute;
  top: 25vh;
  left: calc(50vw - 400px);
  transition: opacity 0.2s ease;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
}

.hidden {
  opacity: 0;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.topBar .logo {
  position: relative;
  margin-left: 10vw;
  opacity: 0;
  transition: opacity 0.2s ease;
  width: 30%;
}

.topBar .logo > img {
  position: absolute;
  top: 3vh;
  left: 0px;
  width: 10vw;
  transition: width 0.5s ease;
}

.topBar .logo > img:hover {
  width: 10.5vw;
}

.sticky .topBar .logo {
  opacity: 1;
}

.topBar .links {
  margin-right: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 5vh;
  width: 40%;
  height: 100%;
  font-size: 1.5rem;
}

.topBar .links > a {
  text-decoration: none;
  color: white;
  font-weight: medium;
  transition: font-weight 0.3s ease, text-decoration 0.3s ease;
}

.topBar .links > a:hover {
  font-weight: 1000;
  text-decoration: underline wavy 2px white;
  text-underline-offset: 10px;
}

.topBar .links > a:not(:last-child) {
  margin-right: 3vw;
}
