---
// import contentful from 'contentful';
import MainLayout from 'layouts/mainLayout.astro';

// const contentfulClient = contentful.createClient({
// 	space: import.meta.env.SECRET_CONTENTFUL_SPACE_ID,
// 	accessToken: import.meta.env.SECRET_CONTENTFUL_CONTENT_DELIVERY_AK
// });

// const entry = await contentfulClient.getEntry('2rjIuJgg6cud0k79idjN8u').catch((r) => {
// 	console.log(r);
// });

// console.log(entry?.fields);
---

<MainLayout>
	<div class="w-full h-full grid place-items-center flex-1">
		<h1 class="font-bold text-center text-5xl underline p-2 text-white">astro :)</h1>
	</div>
</MainLayout>
