:root {
  --header-height: 15vh;
}

.header {
  width: 100%;
  height: var(--header-height);
  margin: 0px;
  background-color: #c32126;
  color: #fff;
  border-radius: 0px 0px 75px 75px;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25vw;
}

.header > * {
  position: relative;
  z-index: 5;
}

.topCard {
  position: relative;
  border-radius: 0px 0px 75px 75px;
  z-index: 1;
  width: inherit;
  background-color: #c32126;
  height: 60vh;
}

.topCard > img {
  --w: 800px;
  width: var(--w);
  position: absolute;
  left: calc((100vw - var(--w)) / 2);
  top: 20vh;
}
