---
import BottomBar from 'components/footer/bottom-bar.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>compsoc rhul</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body class="min-h-screen bg-slate-900 flex flex-col">
		<slot />

		<BottomBar />
		<style>
			html,
			body {
				margin: 0;
				padding: 0;
			}
			* {
				box-sizing: border-box;
			}
		</style>
	</body>
</html>
<style>
	body {
		background-image: linear-gradient(
			109deg,
			#a52d31 16.67%,
			#b12f34 16.67%,
			#b12f34 33.33%,
			#bb3035 33.33%,
			#bb3035 50%,
			#a52d31 50%,
			#a52d31 66.67%,
			#b12f34 66.67%,
			#b12f34 83.33%,
			#bb3035 83.33%,
			#bb3035 100%
		);
		background-size: 190.37px 552.88px;
	}
</style>
