---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>My Cool Astro Site</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body class="min-h-screen bg-slate-900">
		<slot />
		<style>
			html,
			body {
				margin: 0;
				padding: 0;
			}
			* {
				box-sizing: border-box;
			}
		</style>
	</body>
</html>
